.card {
    width: 260px;
    max-width: 100%;
    height: 80px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.valor {
    font-size: 46px;
    font-weight: bold;
    color: #0A7BFF;
}

.titulo {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 80px;
    }

    .valor {
        font-size: 36px;
    }

    .titulo {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .valor {
        font-size: 32px;
    }

    .titulo {
        font-size: 15px;
    }
}