body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* centraliza */
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
        padding: 10px 5px;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 2px;
    }

    .box {
        padding: 8px 3px;
        gap: 12px;
    }
}


/* ========================= */
/* MENU SUPERIOR */
/* ========================= */

.top-menu {
    width: 100%;
    background: #003f99;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

.menu-item {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu-item:hover {
    border-bottom: 2px solid #ffffff80;
}

.menu-item.ativo {
    border-bottom: 2px solid #ffffff;
    font-weight: 700;
}

/* MOBILE */
@media (max-width: 768px) {
    .top-menu {
        flex-wrap: wrap;
        gap: 20px;
        padding: 12px 0;
    }

    .menu-item {
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .top-menu {
        gap: 15px;
        padding: 10px 0;
    }

    .menu-item {
        font-size: 14px;
        padding: 4px 8px;
    }
}
